doctype html
html
    head
        title Natours #{tour}
        link(rel='stylesheet' href='css/style.css')
    body
        // HEADER
        include _header

        // Content
        section.overview
        h1= tour
        // Footer
        include _footer
